body {
    background: #333;
    padding: 50px;
  }
  p {
    color: white;
    margin-bottom: 50px;
  }
  .logout {
    cursor: pointer;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
  }
  .logout .doorway {
    perspective: 100px;
    position: absolute;
    width: 50px;
    height: 100px;
    background-color: #fff;
  }
  .logout .doorway .door {
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform-origin: right center;
    width: 100%;
    height: 100%;
    background-color: #333;
  }
  .logout .arrow {
    transition: right 1s;
    position: absolute;
    background-color: #fff;
    width: 30px;
    height: 20px;
    top: 40px;
    right: 0;
  }
  .logout .arrow:before {
    display: block;
    content: '';
    height: 0;
    position: absolute;
    top: -10px;
    left: -20px;
    border-top: 20px solid transparent;
    border-right: 20px solid #fff;
    border-bottom: 20px solid transparent;
  }
  .logout:hover .door {
    transform: rotateY(-45deg);
  }
  .logout:hover .arrow {
    right: 100px;
  }
  